@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Home</h1>
        <p class="lead">Complete with pre-defined file paths that you won't have to change!</p>
        <ul class="list-unstyled">
            <li>Home v3.3.1</li>
            <li>Home v1.11.1</li>
        </ul>
    </div>
</div>