@{
    ViewBag.Title = "Camera informació";
}

<div class="row">
        <div class="container">
            <div class="col-md-6 col-lg-6">
                <h4>Camera X</h4>
                <img src="~/Content/3_germa.jpg" alt="Camera">
            </div>
            <div class="col-md-6 col-lg-6" style="padding-top: 40px;">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-xs-2">Títol:</label>
                        <div class="col-xs-10">
                            <p class="form-control-static">Les amigues</p>
                        </div>
                        <label class="control-label col-xs-2">Nom:</label>
                        <div class="col-xs-10">
                            <p class="form-control-static">Camera 1</p>
                        </div>
                        <label class="control-label col-xs-2">Any:</label>
                        <div class="col-xs-10">
                            <p class="form-control-static">1920</p>
                        </div>
                        <label class="control-label col-xs-2">Obturador:</label>
                        <div class="col-xs-10">
                            <p class="form-control-static">Rotatiu</p>
                        </div>
                        <label class="control-label col-xs-2">Descripció:</label>
                        <div class="col-xs-10">
                            <p class="form-control-static">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam magna mi, sagittis vel sagittis sed, fermentum quis purus. Nulla eget varius felis, et venenatis libero. Nullam eu dui ac urna ultrices ullamcorper sit amet eget quam. Aliquam sed urna vitae lectus laoreet pharetra ut ut urna. Aenean sed tincidunt est, at luctus tellus. Nullam ac urna ultricies, fringilla massa quis, fringilla ipsum. Nulla egestas massa sed molestie dapibus. Etiam sit amet lobortis justo, faucibus consequat leo.
                            </p>
                        </div>

                    </div>
                </form>
            </div>
        </div>
</div>

